*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: oblique;
}

body {
    background-color: #34113F;

}

header{
    background-color: aliceblue;
    display: flex;
    height: 100px ;
}
.header_text{
    color: #34113F;
    font-size:10px;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 10px;
}
nav{
    width: 80000px;
    height: 100px;
    color: rgb(230, 20, 20);
}
nav a{
    margin-left: 700px;
    margin-top: 100px;
}
.header_text{
    color: #34113F;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-top: 0;
}
.nav_text{
    color: #34113F;
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: 0px;
}
.instagram{
    margin-top: 0px;
}

.container{
    color: aqua;
    height: 350px;
    width: 400px;
    display: flex;
    align-items: center;
}

.container img{
    width: 500px;
    margin-left: 500px;
    margin-top: 400px;
    border-radius: 50%;
    border-style: groove;
    border-color: #404363;
}
.main_text {
    color:aliceblue;
    font-size: 25px;
    margin-left: 300px;
    margin-top: 450px;
    display: flex;
    flex-direction: column;

}